.team-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 70vw;
    text-align: center;
    line-height: 2;
    font-size: 14px;
    margin: auto;
}

.about-page h1 {
    font-size: 32px;
    color: gray;
    padding: 20px;
    font-weight: 700;
    text-align: center;
}

#individual-info {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#individual-subinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

#individual-subinfo p, a, h2 {
    padding: 10px;
}

#individual-subinfo h2 {
    font-size: 22px;
}

#individual-info img {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
}

#individual-subinfo p {
    font-size: 16px;
}

#social-links {
    padding: 10px;
}

.tim {
    background-color: rgb(198, 232, 221);
}

.ashley {
    background-color: rgb(246, 246, 158);
}

.viktoria {
    background-color: pink;
}

.michelle {
    background-color: rgb(216, 175, 216);
}

