.users-search {
  position: relative;
}

.users-search-dropdown {
  position: absolute;
  background: white;
  padding: 15px 10px;
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
  z-index: 100;
  top: 40px;
  width: 100%;
  box-sizing: border-box;
}

.users-search-dropdown ul {
  list-style: none;
  padding: 0;
}

.users-search-dropdown li {
  cursor: pointer;
  padding: 2px;
}

.users-search-dropdown li:hover {
  background: #bab9b966;
}

.users-search-dropdown li:not(:last-child) {
  margin-bottom: 7px;
}
