#user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#user-info img {
    /* position: absolute; */
    width: 3vw;
    height: 3vw;
    margin: 0 10px 0 10px;
    border-radius: 50%;
    object-fit: cover;
    left: 0;
}

#user-info h2 {
    font-size: 18px;
}