.user-profile-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-profile-page h1 {
    font-size: 28px;
    padding: 20px;
}


.user-profile-page button {
    width: fit-content;
    border-radius: 30px;
    background-color: #F87575;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
}

.user-info {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.user-info img {
    height: 10vw;
    width: 10vw;
    object-fit: contain;
    border-radius: 50%;
}

.user-itineraries {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin: auto;
    padding: 20px;
    width: 80vw;
}

.user-itineraries::-webkit-scrollbar {
    width: 100%;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }


.user-wishlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    width: 80vw;
    font-size: 18px;
}


/* FOR ACTUAL WISHLIST */
/* .user-wishlist {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        border: 2px solid green;
        margin: auto;
        padding: 20px;
        width: 80vw;
} */

.itinerary-index-item {
    align-items: center;
    height: 65vh;
    width: 25vw;
    background-color: rgb(240, 240, 240);
    margin: 15px;
    outline: 1px solid white;
    outline-offset: -10px;
}