.itinerary-show-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 15vh;
}

.itinerary-show-image-container {
    height: 30px;
}

#itinerary-show-header img {
    object-fit: cover;
    max-height: 30%;
    overflow: hidden;
}



