/* TODO Add site wide styles */
* {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
}

form .errors {
    color: red;
    font-size: 0.875em;
    height: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 0.5vh;
}

