/* TODO Add site wide styles */
form .errors {
    color: red;
    font-size: 0.875em;
    height: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 0.5vh;
}

* {
    font-family: roc-grotesk, sans-serif;
    font-style: normal;
    font-weight: 200;
}