.itineraries-index {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 4.5vw;
    /* display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; */
}

.itinerary-index-item {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    align-items: center;
    /* justify-content: center; */
    height: 65vh;
    width: 25vw;
    background-color: rgb(240, 240, 240);
    margin: 15px;
    outline: 1px solid white;
    outline-offset: -10px;
}

#itinerary-card-info {
    /* display: flex;
    flex-direction: column; */
    width: 100%;
}

#itinerary-card-info h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    text-align: center;
    width: 16.5vw;
    height: 5vh;
    background-color: #FFA9A3;
    /* background-color: rgb(195, 185, 168); */
    transform: translateY(-3vh);
    outline: 1px solid white;
    outline-offset: -5px;
    padding: 5px;
}

#itinerary-card-info p {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

#itinerary-card-subinfo {
    display: flex;
    justify-content: space-around;
}

#index-thumbnail img {
    object-fit: cover;
    width: 25vw;
    height: 50vh;
    cursor: pointer;
}

#itinerary-index-page-title {
    text-align: center;
    font-size: 32px;
    padding: 20px;
}

.update-itinerary-buttons button {
    margin-left: 1vw;
    width: 2.5vw;
    background-color: none;
    border: none;
    cursor: pointer;
}