@media screen and (max-width: 1680px) {
    .entire-splash-container {
        width: 100%;
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .splash-img-container {
        width: 100%;
        height: 100vh;
        display: flex; 
        justify-content: center; 
    }

    .splash-search {
        margin-top: 10px;
        width: 450px;
        height: 45px;
        padding: 10px;
        border-radius: 25px;
        font-size: 20px;
        border: 1px solid rgb(216, 219, 232);
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, .1);
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .splash-search::placeholder {
        color: rgb(181, 181, 181);
    }

    .splash-search-container button {
        background-color: #fdbea3;
        color: white;
        font-family: 'Schibsted Grotesk', sans-serif;
        height: 7vh;
        width: 18vw;
        /* height: 60px;
        width: 240px; */
        border-radius: 40px;
        border: transparent;
        font-size: 22px;
        margin-top: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, .1);
        cursor: pointer;
    }

    .splash-search-container button:hover {
        background-color: #fecab3;
    }

    .splash-search-container input:active {
        border-color: 1px solid #fecab3;
    }

    .splash-img-container img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    .splash-search-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 90%;
        margin-top: 100px;
    }

    .splash-search-container img {
        width: 42vw;
        /* width: 600px; */
        margin-top: 100px;
    }

    #search-label {
        font-family: 'Schibsted Grotesk', sans-serif;
        font-size: 20px;
        margin-top: 15px;
        color: white;
    }
}